<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="PushNotificationTimeInMinutes" value="5" />
    <add key="PushNotificationStatus" value="false" />

    <add key="NegotiationMinutes" value="15" />
    <add key="NegotiationStatus" value="true" />
    
    <add key="ResendFailNotificationTimeInMinutes" value="5" />
    <add key="ResendFailNotificationStatus" value="false" />
    
    <add key="EncryptQuantitiesTablesTimeInMinutes" value="5" />
    <add key="EncryptQuantitiesTablesStatus" value="false" />
    
    <add key="EncryptQuantitiesTableItemsTimeInMinutes" value="5" />
    <add key="EncryptQuantitiesTableItemsStatus" value="false" />
 
    <add key="CheckFinishedBiddingsRoundsInMinutes" value="1" />
    <add key="CheckFinishedBiddingsRoundsJobStatus" value="false" />

    <add key="PlaintMinutes" value="5" />
    <add key="PlaintStatus" value="false" />

	  <add key="UpdateOfferForExtendOfferValidityMinutes" value="5" />
    <add key="UpdateOfferForExtendOfferValidityStatus" value="false" />
    
    <add key="OpenOffersMinutes" value="5" />
    <add key="OpenOfferNotifications" value="false" />
    
    <add key="OffersOpeningDays" value="1" />
    <add key="OffersOpeningStatus" value="false" />
    
    <add key="SadadUpdateAndCancelMinutes" value="10" />
    <add key="SadadUpdateAndCancelStatus" value="false" />

    <add key="EMarketPlaceMinutes" value="5" />
    <add key="EMarketPlaceStatus" value="false" />

    <add key="CheckingOffersMinutes" value="5" />
    <add key="UpdateOfferCheckingValidityStatus" value="false" />

    <add key="NoficationSentForStoppingPeriodTimeMinutes" value="5" />
    <add key="NoficationSentForStoppingPeriodStatus" value="false" />

	<add key="UpdateAnnouncementTemplateListPeriodTimeMinutes" value="5" />
	<add key="UpdateAnnouncementTemplateListStatus" value="false" />
    
	<add key="RecalculateSupplierQualificationPointsMinutes" value="15" />
	<add key="RecalculateSupplierQualificationPointsStatus" value="false" />
  </appSettings>

</configuration>