<?xml version="1.0" encoding="utf-8" ?>
 <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">


    <!-- enable asp.net core layout renderers -->
    <extensions>
       <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

  
   
   <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
   <!--<variable name="myvar" value="myvalue"/>-->

   <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
   <targets async="true">

      <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

      <target xsi:type="Debugger" name="debug" >

         <layout xsi:type="LayoutWithHeaderAndFooter">
            <layout xsi:type="SimpleLayout"  text="${newline} ---------------------------- Logger : ${level} --------------------------------
                ${newline}${newline}  ${message}  ${newline}${newline}----------------------------------------------------------------------------${newline} ">

            </layout>

         </layout>

      </target>

      
      <!--
    Write events to a file with the date in the filename.
    <target name="database"
              xsi:type="Database"
              connectionString="${gdc:item=connectionString}"
              commandType="StoredProcedure"
              commandText="[dbo].[SP_AddLogEntry]" >
    -->
      <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
           layout="${longdate} ${uppercase:${level}} ${message}" />
   </targets>

   <rules>
      <!-- add your logging rules here -->

      <!--<logger minlevel="Trace" name="*" writeTo="debug"></logger>-->
      <!--Uncomment this line to enable database target-->
      <logger minlevel="Error" name="*" writeTo="f"></logger>

      <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
   </rules>
</nlog>
