<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
   <system.webServer>
      <security>
         <requestFiltering allowDoubleEscaping="true">
            <requestLimits maxAllowedContentLength="4294967295">
               <headerLimits>
                  <add header="Content-type" sizeLimit="4294967295" />
               </headerLimits>
            </requestLimits>
         </requestFiltering>
      </security>
      <handlers>
         <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore requestTimeout="00:20:00" processPath="dotnet" arguments=".\MOF.Etimad.Monafasat.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
         <environmentVariables>
            <environmentVariable name="COMPLUS_ForceENC" value="1" />
            <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
            <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44300" />
         </environmentVariables>
      </aspNetCore>
   </system.webServer>
   <system.web>
      <httpRuntime enableVersionHeader="false" maxQueryStringLength="2147483647"  maxUrlLength="2147483647" maxRequestLength="2147483647" executionTimeout="999999999" />
   </system.web>
   <appSettings>
      <add key="TempDir" value="Temp" />
   </appSettings>
   <system.web.extensions>
      <scripting>
         <webServices>
            <jsonSerialization maxJsonLength="50000000" />
         </webServices>
      </scripting>
   </system.web.extensions>
</configuration>
<!--ProjectGuid: 3c46526b-1d33-421b-a96d-a88a7facfd0d-->
