@media screen and (max-width:1327px) and (min-width:993px) {
    .nav > li > a {
        padding: 10px 9px !important;
    }

    .upperNavBar .padding {
        padding: 10px 50px !important;
    }

    .upperNavBar .nav {
        float: right;
        margin-right: 6px !important;
        margin-top: 10px;
    }

    .upperNavBar .visionLogo img {
        width: 66px !important;
        margin-right: 12px !important;
    }

    .resetPassword .paddingContainer {
        padding: 0 32px !important;
        float: right;
        width: 100%;
    }
}

@media screen and (max-width:1410px) and (min-width:810px) {
    .spTable td {
        font-size: 0.7em !important;
    }

    .spTable th {
        font-size: 0.7em !important;
    }

    .resetPassword {
        overflow-y: hidden !important;
    }
}

@media screen and (max-width:1024px) {
    .paddingContainer {
        padding: 0 120px !important;
    }

    .contentDiv .upperForm .formGrop {
        width: 33% !important;
    }

    #bankingAccountDetails .sp {
        text-align: right !important;
        padding-left: 0;
    }

    #bankingAccountDetails input {
        text-align: right !important;
        border: none !important;
    }

    .contentDiv .companiesGrid .upperForm .btnSearch {
        float: left;
        color: #f9f9fb;
        background: #a89c6b;
        padding: 11px 27px;
        margin-top: 37px !important;
        margin-left: 12px;
    }

    .contentDiv .companiesGrid .addDelegate .addDelegateDiv1 .delegateInfo ul {
        padding: 0;
        float: right;
        width: 84% !important;
    }
    #CrsGrid span.sperator {
        margin: 5px auto !important;
    }
}
@media screen and (max-width:1020px) and (min-width:992px) {
    div#totalAmountDiv {
        top: 100px !important;
    }
}
    @media screen and (min-width:992px) {
        #landing .filesSection {
            margin-bottom: 150px;
            float: right;
            width: 100%;
        }

        footer {
            position: fixed;
            bottom: 0;
            background: #fff;
            box-shadow: 1px 1px 13px #ccc;
            z-index: 999;
        }

        .contentDiv {
            margin-bottom: 80px !important;
        }
    }

    @media screen and (max-width:992px) {
        .paddingContainer {
            padding: 0 50px !important;
        }

        .contentDiv .upperContent select {
            float: left;
            width: 21% !important;
            height: 52px;
            margin-left: 25px;
            background: #f9f9fb;
            color: #008755;
        }

        .logos {
            margin: 0 auto;
            display: table;
        }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 10px !important;
            font-size: 0.7em !important;
        }

        .padding {
            padding: 10px 62px !important;
            float: right;
            width: 100%;
        }

        .social {
            display: table !important;
            margin: 0 auto !important;
        }

        footer .social ul {
            float: none !important;
            padding: 0;
            margin: 0 auto !important;
            display: table !important;
        }

        .fixed {
            position: relative;
            top: 0;
            /* left: 0; */
            z-index: 2;
            background: #343c42 !important;
            width: 100% !important;
        }


        .logosF {
            margin: 0 auto;
            display: table;
            float: none !important;
            margin-bottom: 10px;
        }

        .spanDpre {
            display: none;
        }

        #dashboard .mapContainer {
            width: 51% !important;
        }

        .checkPayment span {
            float: right;
            margin-left: 37px;
            padding-left: 18px;
            min-height: 24px;
            width: 100%;
            border-bottom: 1px solid #eee;
            padding: 10px 0;
            border-left: 0 !important;
        }

        .user_options-container {
            width: 96% !important;
        }
    }

    @media screen and (max-width:800px) {
        .paddingContainer {
            padding: 0px 20px !important;
            width: 100%;
        }

        .servA {
            margin-bottom: 20px;
            width: 100% !important;
        }

        .nav a {
            padding: 10px 9px !important;
        }

        footer .footerMenu ul li a {
            padding: 5px 8px !important;
        }

        .loginContainer {
            background: #fff;
            margin: 181px auto;
            display: table;
            width: 100% !important;
            padding: 24px;
            text-align: center;
            border-radius: 4px;
            margin-bottom: 100px !important;
        }

        .padding {
            padding: 10px 20px !important;
        }

        .social {
            display: table !important;
            margin: 0 auto !important;
        }

        footer .social ul {
            float: none !important;
            padding: 0;
            margin: 0 auto !important;
            display: table !important;
        }

        .imageSec {
            float: right;
            width: 100%;
            margin-bottom: 20px !important;
        }

        .resetPassword .loginContainer {
            width: 100% !important;
            margin: 14% auto;
        }
    }

    @media screen and (max-width:1150px) {
        footer {
            padding-bottom: 34px;
        }

        .form-container .btn-primary {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        .spTable {
            float: right;
            width: 100%;
            display: block;
            overflow-x: auto;
            margin-bottom: 21px;
        }
    }

    @media screen and (min-width:768px) {
        .collapse {
            float: right;
        }

        .padd-r {
            padding-right: 0 !important;
        }

        .navbar-collapse.collapse {
            display: table !important;
            float: none !important;
            margin: 0 auto;
        }

        .responsive-tabs {
            display: flex;
            flex-wrap: wrap;
            float: right;
            direction: rtl;
        }

        .responsive-tabs .tab {
            flex-grow: 1;
            border-bottom: 1px solid #457b9d;
            text-align: center;
        }

        .responsive-tabs .tab ~ .tab {
            border-top: 0;
        }

        .responsive-tabs .tab-content {
            order: 2;
        }

        #landing .navbar-default .collapse {
            padding: 0;
            float: none !important;
            display: table !important;
            margin: 0 auto;
        }

        .navbar-nav {
            margin-right: 0 !important;
        }
    }

    @media screen and (max-width:767px) {
        .paddingContainer {
            padding: 0px 0px !important;
            width: 100%;
        }

        .navbar-header {
            width: auto;
            display: block;
            float: right;
        }

        .navbar-left {
            float: left !important;
        }

        button.navbar-toggle {
            margin-right: 0;
        }

        .navbar-default .collapse {
            padding: 0;
            float: right;
            height: auto !important;

            .nav {
                width: 100%;
                display: block;
                margin: 0;

                li {
                    float: right;
                    display: block;
                    width: 100% !important;
                }
            }
        }

        .tab {
            float: right;
            width: 100%;
        }

        .servA {
            margin-bottom: 20px;
            width: 100% !important;
        }

        .footerMenu {
            ul {
                padding: 0;

                li {
                    a {
                        padding: 5px 5px !important;
                        font-size: 0.8em;
                    }
                }
            }
        }

        .paddingContainer {
            padding: 0px 10px !important;
            width: 100%;
        }

        .searchSection .form {
            width: 93% !important;
            display: table;
            margin: 30px auto;
        }

        .social {
            margin: 0 auto;
            display: table;
        }

        .form-container .step-container .formGrop {
            margin: 0 auto;
            width: 100% !important;
        }

        .form-container .btn-container {
            width: 96% !important;
        }

        .form-container .step-container {
            margin: 0 auto;
            width: 92% !important;
        }

        .contentDiv .upperForm .formGrop {
            width: 50% !important;
        }

        .contentDiv .upperForm .btnSearch {
            float: left;
            color: #f9f9fb;
            background: #a89c6b;
            padding: 11px 27px;
            margin-top: 38px;
            margin-left: 16px;
        }

        .contentDiv .companiesGrid .addDelegate .addDelegateDiv1 .delegateInfo ul {
            padding: 0;
            float: right;
            width: 84% !important;
        }

        .navbar-collapse.collapse.in {
            float: right;
            width: 100% !important;
        }

        .navbar-header {
            width: 100% !important;
            display: block;
            float: right;
        }

        .upperNavBar a.dropdown-toggle {
            float: left;
            color: #00524c;
            margin-top: 11px !important;
            text-align: right;
        }

        .upperNavBar .logos .visionLogo img {
            width: 61px !important;
            margin-top: 8px;
            margin-right: 7px !important;
        }

        .upperNavBar .logos .visionLogo {
            float: right;
            float: none !important;
            margin: 0 auto;
            display: table;
        }

        .navbar-default .navbar-toggle {
            float: left;
            border: none;
            border-radius: 0;
        }

        .upperNavBar a.dropdown-toggle {
            float: right !important;
            color: #00524c;
            margin-top: 28px;
            text-align: right;
        }

        .navbar-collapse.in {
            overflow-y: initial !important;
        }

        .servicesDiv .blockServ {
            float: right;
            width: 50% !important;
            background: #fff;
            margin: 0 5px;
            margin-bottom: 46px;
        }

        .ain {
            text-decoration: none;
            float: right;
            width: 100%;
            margin-bottom: 60px;
        }

        .news-preview {
            float: right;
            width: 100% !important;
        }

        .news-headlines {
            float: right !important;
            width: 100% !important;
        }

        .news-headlines {
            float: right !important;
            width: 100% !important;
        }

        .news-headlines li {
            padding: 7px;
            position: relative;
            z-index: 20;
            color: #ddd;
            width: 20% !important;
            background: #888;
            min-height: 100px !important;
            max-height: 100px !important;
            font-size: 14px;
            float: right !important;
            overflow: hidden;
        }

        .news-holder span {
            display: none !important;
        }

        .loginBtn {
            float: right !important;
            margin-top: 5px !important;
            margin-bottom: 5px !important;
        }

        .wizard .wizard-inner .connecting-line {
            top: 58% !important;
        }

        .wizard .wizard-inner {
            width: 100% !important;
        }

        .popup-box {
            width: 350px !important;
        }

        .dropdown-menu li {
            float: right;
            width: 100%;
            text-align: right;
            background: #f9f9f9;
            border-bottom: 1px solid #ccc;
        }

        .upperNavBar .nav .dropdown a {
            margin-top: 0;
            float: right;
            width: 100%;
            display: block;
        }

        .upperNavBar .nav i.fa.fa-inbox {
            font-size: 3em;
            color: #5b6066;
        }

        .upperNavBar .nav li a span.badge {
            top: 2px !important;
        }

        .servicesDiv .servThree .blockServall {
            float: right;
            width: 100% !important;
        }

        .selectPayment p {
            float: right;
            margin-left: 0;
            border-left: 0px solid #ccc !important;
            padding-left: 0;
            font-weight: bold;
            width: -webkit-fill-available;
            border-bottom: 1px solid #eee;
            padding: 5px 0;
        }

        #landing {
            background: #fff url(../img/Eitmad_Pattern-02.png) !important;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -647px;
        }

        #landing footer {
            position: relative !important;
        }

        .user {
            height: auto !important;
        }

        .user_options-forms {
            position: inherit !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: auto !important;
            animation: none !important;
            transform: none !important;
        }

        .user_options-container {
            position: inherit !important;
            width: 950px;
            box-shadow: 1px 1px 5px #ccc;
            float: right;
        }

        .user_options-forms .user_forms-signup, .user_options-forms .user_forms-login {
            top: 40px;
            position: inherit !important;
            top: 0;
            right: 0;
            left: 0;
            width: 100% !important;
            padding: 15px;
        }

        .user_options-registered, .user_options-unregistered {
            padding: 5px !important;
        }

        .user_registered-title, .user_unregistered-title {
            margin-bottom: 0 !important;
            font-size: 0.8em !important;
            line-height: 1em;
            text-align: center !important;
            float: none;
            margin-top: 8px !important;
        }

        .user_unregistered-signup {
            margin-top: 0px !important;
            letter-spacing: 0 !important;
            margin: 0 auto;
            display: table;
            float: none !important;
            width: 100%;
        }

        .user_registered-login, .user_unregistered-signup {
            margin-top: 0 !important;
            padding: 10px 18px !important;
            letter-spacing: 0 !important;
            width: 100%;
            border: none !important;
            border-radius: 0 !important;
            cursor: pointer;
        }

        .user_options-text {
            margin-bottom: 18px !important;
            margin-top: 23px !important;
        }

        .user_options-container {
            box-shadow: none !important;
        }

        .user_unregistered-signup {
            border-left: 1px solid #fff !important;
        }

        .user_options-unregistered {
            background: #607D8B !important;
        }
        .upperNavBar .logos a.merasLogo img {
            width: 75% !important;
            margin-bottom: 9px;
        }
        .navbar-default .loginBtn {
            padding: 6px 12px !important;
            margin-top: 9px !important;
            font-size: 0.8em !important;
        }
        #landing .breadCrambLanding img.loginLogo {
            width: 109px !important;
        }
        .breadCrambLanding h3 {
            text-align: center;
            font-size: 1.9em !important;
            color: #00CE7C;
            margin-top: 50px;
        }
    }

    @media screen and (max-width:620px) {
        .form-container .btn-group span {
            float: right;
            margin-right: 6px !important;
            margin-left: 0px !important;
            line-height: 38px;
            color: #ccc;
            display: none;
        }

        .upperNavBar .merasLogo {
            float: none !important;
            margin: 0 auto;
            display: table;
            width: 57% !important;

            img {
                margin: 0 auto;
                text-align: center;
                display: table;
            }
        }

        .form-container .btn-primary {
            border: none;
            color: #a89c6b;
            margin-right: 34px;
            margin-left: 34px;
            border-radius: 0;
            float: right;
            padding: 6px;
            font-size: 0.7em;
        }

        .contentDiv .upperContent span {
            color: #008755;
            text-align: right;
            font-size: 1.625em;
            float: right;
        }

        .contentDiv .upperContent select {
            float: right !important;
            width: 34% !important;
            height: 52px;
            margin-left: 25px;
            background: #f9f9fb;
            color: #008755;
        }

        .contentDiv .companiesGrid .innerNavs {
            float: none;
            border-radius: 5px;
            margin-top: -45px !important;
            margin-right: 8px !important;
            border: 1px solid #ccc;
            background: #fff;
            overflow: hidden;
            margin-bottom: 19px !important;
            width: 96%;
        }

        .navbar-default .navbar-second .form-group {
            float: right;
            margin-right: 0 !important;
            margin-bottom: 0;
            margin-top: 10px;
            width: 100% !important;
        }

        .contentDiv .companiesGrid .innerNavs a {
            padding: 23px 12px !important;
            display: inline-block;
            font-size: 1em !important;
            text-decoration: none;
        }

        .loginContainer {
            background: #fff;
            margin: 66px auto !important;
            display: table;
            width: 80%;
            padding: 24px;
            text-align: center;
            border-radius: 4px;
        }

        .upperNavBar .merasLogo {
            float: none !important;
            margin: 0 auto;
            display: table;
            width: 57% !important;

            img {
                margin: 0 auto;
                text-align: center;
                display: table;
            }
        }

        .upperNavBar .home {
            color: #f9f9fb;
            float: right;
            margin-right: 0 !important;
            margin-top: 16px;
            text-align: right;
            float: right !important;
        }

        .contentDiv .upperContent span {
            color: #008755;
            text-align: right;
            font-size: 1.3em;
            float: right;
        }

        .contentDiv .upperContent .btnAdd {
            float: left;
            background: #008755;
            color: #f9f9fb;
            padding: 9px 13px !important;
        }

        .contentDiv .companiesGrid .addDelegate .addDelegateDiv1 .formGrop {
            float: right;
            width: 100% !important;
        }

        #landing {
            background: #fff url(../img/Eitmad_Pattern-02.png) !important;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -647px;
        }
        .number span {
            float: right;
            direction: rtl;
            text-align: right;
            margin-right: 0 !important;
            margin-left: 5px !important;
        }
        footer {
            padding-bottom: 15px !important;
            padding-top: 25px !important;
        }
        footer {
            padding-bottom: 15px !important;
            padding-top: 25px !important;
        }
        .dangerRow {
            background: rgba(224, 119, 111, 0.34);
            float: right;
            width: 100%;
        }
      
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: left !important;
            float: left;
            width: 100%;
        }

        table td:before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: right;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }

        .calendars-popup {
            width: 245px;

            table {
                tr {
                    display: table-row;
                    border: none;
                    float: none !important;
                }

                td {
                    display: table-cell;
                    border: none;
                    padding: 6px 7px !important;
                    float: right;
                    width: auto !important;
                }
            }
        }

        .navbar-default .navbar-nav > li > a:focus,
        .navbar-default .navbar-nav > li > a:hover {
            color: #333;
            background-color: #e4e4e4;
        }

        .newsDiv .contA a.blockes {
            float: none !important;
            text-align: center !important;
            margin: 0 auto;
            display: table;
            vertical-align: middle;
            font-size: 0.9em !important;
            padding: 10px;
            line-height: 100px !important;
        }

        .wizard .wizard-inner .nav-tabs {
            padding: 0 !important;
        }

        #dashboard .mapContainer {
            width: 90% !important;
        }

        .calendars-month-row tr {
            float: right;
            width: 100%;
            display: block !important;
        }

        .calendars-popup .calendars.calendars-rtl .calendars-month-row table td a {
            color: #00524C;
            display: block;
            padding: 6px 4px;
        }

        .calendars-other-month {
            margin-top: 9px;
            margin-left: 0 !important;
            text-align: center !important;
            vertical-align: -webkit-baseline-middle !important;
            /* margin: 0 auto; */
            float: none !important;
            position: relative;
            top: 5px;
        }

        #tableExpences .form-control {
            width: 267px !important;
            float: left;
            text-align: left;
        }

        .spTbleBudget tr td {
            text-align: left !important;
        }
        .borderYModal {
            border-right: none !important;
        }
    }

    @media screen and (max-width:420px) {
        .searchSection .form .backBtn {
            color: #f9f9fb;
            font-size: 2.125em;
            float: right;
            margin-top: -40px;
            padding: 1px 7px !important;
            margin-right: -1px !important;
            cursor: pointer;
            background: #3366cc;
        }

        footer .footerMenu ul li a {
            padding: 5px 4px !important;
        }

        .loginContainer h3 {
            font-size: 1.1em !important;
        }

        .form-container .btn-container {
            width: 88% !important;
        }

        .contentDiv .upperForm .formGrop {
            width: 100% !important;
        }

        .contentDiv .companiesGrid .addDelegate .addDelegateDiv1 .delegateInfo ul li span {
            padding: 0;
            float: right;
            width: 100% !important;
            border: none !important;
        }

        .servicesDiv .blockServ {
            float: right;
            width: 100% !important;
            background: #fff;
            margin: 0 5px;
            margin-bottom: 46px;
        }

        .imageSec {
            float: right;
            width: 100%;
            margin-bottom: 20px;
        }

        .wizard .wizard-inner .nav-tabs li a {
            margin: 0 !important;
        }

        .wizard .wizard-inner .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 61%;
            margin: 0 auto;
            left: -15px;
            right: 0;
            top: 80% !important;
            z-index: 1;
        }

        input#VendorNameSearch {
            float: right;
            width: 71% !important;
        }

        #ProjectItemsGrid section.panel input.form-control.text-input {
            float: right;
            width: 68% !important;
        }

        html #loginBody input#Captcha {
            float: right;
            width: 52% !important;
            margin-bottom: 18px;
        }

        .calendars-month-row tr {
            display: block !important;
        }

        .calendars-popup .calendars.calendars-rtl .calendars-month-row table td a {
            color: #00524C;
            display: block;
            padding: 6px 4.9px;
        }

        .calendars-other-month {
            margin-top: 9px;
            margin-left: 0 !important;
            text-align: center !important;
            vertical-align: -webkit-baseline-middle !important;
            /* margin: 0 auto; */
            float: none !important;
            position: relative;
            top: 5px;
        }

        #landing {
            background: #fff !important;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -647px;
        }
        .number span {
            float: right;
            direction: rtl;
            text-align: right;
            margin-right: 0 !important;
            margin-left: 5px !important;
        }
        footer {
            padding-bottom: 15px !important;
            padding-top: 25px !important;
        }
        .number {
            margin-top: 6px !important;
        }
        .email {
            margin-top: 6px !important;
        }
    }

