@model MOF.Etimad.Monafasat.ViewModel.TenderDetialsReportModel
<link rel="icon" href="~/Etimad-UI/assets/imgs/favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script src="~/Etimad-UI/assets/js/vue-app/vue@2.5.2.js"></script>
<script>
   document.title = "Report";
   (function () {
      var link = document.createElement('link');
      oldLink = document.getElementById('dynamic-favicon');
      link.id = 'dynamic-favicon';
      link.rel = 'shortcut icon';
      link.href = '~/Etimad-UI/assets/imgs/favicon.ico';
      document.getElementsByTagName('head')[0].appendChild(link);
   })();
   function printData() {
      window.print();
      window.close();
   }
</script>
<style type="text/css">
   .table tr td {
      width: 50% !important;
   }
</style>
<button id="printButton" onclick="printData();" class="btn btn-success d-print-none" style="margin:20px;">طباعة</button>
<div id="printDiv" class="row" dir="rtl" style="margin:20px;">
   <div class="col-sm-12 text-center">
      <img alt="" class="rounded mx-auto" src="~/Etimad-UI/assets/imgs/favicon.ico" />
      <hr />
   </div>
   <h2 class="col-sm-12 text-center">تفاصيل المنافسة</h2>
   <table class="table table-bordered col-sm-12">
      <caption></caption>
      <tr>
         <th scope="row">الجهة الحكومية</th>
         <td class="text-center">@Model?.AgnecyName</td>
      </tr>
      <tr>
         <th scope="row">المعلومات الأساسية</th>
         <td class="text-center">
            إسم المنافسة: @Model?.TenderName
            <br />
            رقم المنافسة: @Model?.TenderNumber
         </td>
      </tr>
      <tr>
         <th scope="row">قيمة المنافسة</th>
         <td class="text-center">@Model?.ConditionsBookletPrice</td>
      </tr>
      <tr>
         <th scope="row">الغاية من المنافسة</th>
         <td class="text-center">@Model?.TenderPurpose</td>
      </tr>
      <tr>
         <th scope="row">اخر موعد لإستلام استفسارات الموردين و إضافة الملحقات</th>
         <td class="text-center">
            التاريخ: @Model?.LastSupplierActionDateHijri
            <br />
            الموافق: @Model?.LastSupplierActionDate
         </td>
      </tr>
      <tr>
         <th scope="row">اخر موعد لإستلام العروض</th>
         <td class="text-center">
            التاريخ: @Model?.LastOfferApplyingDateHijri
            <br />
            الموافق: @Model?.LastOfferApplyingDate
         </td>
      </tr>
      <tr>
         <th scope="row">تاريخ و وقت فتح العروض</th>
         <td class="text-center">
            التاريخ: @Model?.LastOpenOfferDateHijri
            <br />
            الموافق: @Model?.LastOpenOfferDate
         </td>
      </tr>
      @if (!Model.IsOldTender && Model.VersionId >= (int)Enums.ActivityVersions.Sprint7Activities)
      {
         @if (Model.TenderTypeId != (int)Enums.TenderType.NewDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.Competition)
         {
            <tr>
               <th scope="row">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.StoppingPeriod</th>
               <td class="text-center">@Model?.AwardingStoppingPeriod</td>
            </tr>
         }
         <tr>
            <th scope="row">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AwardingExpectedDate</th>
            <td class="text-center">
               التاريخ: @Model?.AwardingExpectedDate.ToHijriDate("dd/MM/yyyy")
               <br />
               الموافق: @Model?.AwardingExpectedDate.ToGregorianDate("dd/MM/yyyy")
            </td>
         </tr>
         <tr>
            <th scope="row">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.StartingBusinessOrServicesDate</th>
            <td class="text-center">
               التاريخ: @Model?.StartingBusinessOrServicesDate.ToHijriDate("dd/MM/yyyy")
               <br />
               الموافق: @Model?.StartingBusinessOrServicesDate.ToGregorianDate("dd/MM/yyyy")
            </td>
         </tr>
      }
      <tr>
         <th scope="row">مكان تقديم العروض</th>
         <td class="text-center">@Model?.ApplyingOffersLocation</td>
      </tr>
      <tr>
         <th scope="row">مكان فتح العروض</th>
         <td class="text-center">@Model?.OpenOffersLocation</td>
      </tr>
      <tr>
         <th scope="row">مكان التنفيذ</th>
         <td class="text-center">@Model?.ExcuationLocation</td>
      </tr>
      <tr>
         <th scope="row">مجال التصنيف</th>
         <td class="text-center">
            <ul>
               @for (int i = 0; i < Model?.TenderMaintenanceRunnigWorks.Count; i++)
               {
                  <li>@Model?.TenderMaintenanceRunnigWorks[i]</li>
               }
               @for (int i = 0; i < Model?.TenderConstructionWorks.Count; i++)
               {
                  <li>@Model?.TenderConstructionWorks[i]</li>
               }
            </ul>
         </td>
      </tr>
   </table>
</div>
