
@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Tenders;

}

@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Tender")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Tenders</li>
      </ol>
   </nav>
}
   <form class="form" id="searchCriteriaForm"> 
      <div  id="MyTenderGrid" v-cloak> 
         <div class="tableDiv">
            @Html.Partial("_MyTenderGrid")
         </div>
      </div>
   </form>

<!--endtBody-->
@section scripts{
   <script>
      var Tender = new Vue({
         el: '#MyTenderGrid',
         data: {
            Tenders: [], 
            totalCount: 0,
            currentPage: 1,
            pageSize: 10, 
            resource_url: '/Tender/MyTenderIndexAsync' 
         },
         methods: {
            updateResource: function (data) {
               this.Tenders = data;
               this.totalCount = this.$refs.vpaginator.totalCount;
               this.currentPage = this.$refs.vpaginator.currentPage;
               this.pageSize = this.$refs.vpaginator.pageSize;
            },
            suppliersReport: function (tenderId) {
               return '/Offer/SuppliersReport?tenderIdString=' + tenderId;
            } 
         }
      });
   </script>
}
