<div class="tab-pane animated bounceInLeft  delay-1s" id="d-7">
   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-md-12">
               <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.InvitationResources.DisplayInputs.RegisteredSuppliersIn</h4>
               @Html.Partial("~/Views/Tender/DetailsPartials/_DetailsInvitedSuppliersGrid.cshtml")
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-md-12">
               <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.InvitationResources.DisplayInputs.UnRegisteredSuppliersIn</h4>
               @Html.Partial("~/Views/Tender/DetailsPartials/_DetailsInvitedUnregisteredSuppliersGrid.cshtml")
            </div>
         </div>
      </div>
   </div>
</div>
