<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--<variable name="myvar" value="myvalue"/>-->
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target xsi:type="Debugger" name="debug" >
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout"  text="${newline} ---------------------------- Logger : ${level} --------------------------------
                ${newline}${newline}  ${message}  ${newline}${newline}----------------------------------------------------------------------------${newline} ">
        </layout>
      </layout>
    </target>
    <target name="dblog" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="10000" batchSize="100" timeToSleepBetweenBatches="0">
      <target name="database"
              xsi:type="Database"
              connectionString="${gdc:item=connectionString}"
              commandType="StoredProcedure"
              commandText="[dbo].[SP_AddLogEntry]">
        <parameter name="@machineName"     layout="${machinename}" />
        <parameter name="@siteName"        layout="${iis-site-name}" />
        <parameter name="@logged"          layout="${date}" />
        <parameter name="@level"           layout="${level}" />
        <parameter name="@username"        layout="${gdc:userName}" />
        <parameter name="@message"         layout="${message}" />
        <parameter name="@logger"          layout="${logger}" />
        <parameter name="@relatedObjects"  layout="${mdlc:item=relatedObjects}" />
        <parameter name="@serverName"      layout="${aspnet-request-host}" />
        <parameter name="@port"            layout="${aspnet-request:serverVariable=SERVER_PORT}" />
        <parameter name="@url"             layout="${aspnet-Request-Url:IncludeQueryString=true}" />
        <parameter name="@https"           layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
        <parameter name="@serverAddress"   layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
        <parameter name="@remoteAddress"   layout="${aspnet-Request-Ip}" />
        <parameter name="@TraceIdentifier" layout="${aspnet-TraceIdentifier} " />
        <parameter name="@callSite"        layout="Method: ${aspnet-Request-Method} ${newline} Referrer:  ${aspnet-Request-Referrer} ${newline} UserAgent:  ${aspnet-Request-UserAgent}" />
        <parameter name="@exception"       layout="${exception:tostring}" />
      </target>
    </target>
  </targets>
  <rules>
    <!-- add your logging rules here -->
        <logger minlevel="Trace" name="*" writeTo="debug"></logger> 
    <!--Uncomment this line to enable database target-->
    <logger minlevel="Error" name="*" writeTo="dblog"></logger>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <!--<logger name="*" minlevel="Debug" writeTo="f" />-->
  </rules>
</nlog>
