<div v-if="notifications && notifications.length > 0">
   <ul class="row " style="list-style:none">
      <li class="col-md-6 col-sm-12 col-xs-12" v-for="(item, $index) in notifications">
         <a :href="item.link" class="notfication-item btn btn-link btn-block btn-sm">
            <span class="not-title"> {{ item.title }}</span>
            <span>
               <i class="material-icons">schedule</i> 
               <span class="dateMomentFormat">
                  {{ item.displayDate }}
               </span>
            </span>
         </a>
      </li>
   </ul>
</div>
<div class="row " v-else>
   <div class="col-12 text-center">
      <i class="text-primary material-icons" style="font-size:3rem">report</i> 
      <br />
      @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData
   </div>
</div>
<pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
