@model MOF.Etimad.Monafasat.ViewModel.AnnouncementTemplateListDetailsModel
@{
    ViewData["Title"] = MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementTemplateDetails;
}
<style>
   .agencyLogo {
      border-radius: 100%;
      border: 2px solid #ccc;
      padding: 5px;
      width: 56px;
   }
</style>
<div class="row">
   <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     عدد طلبات الانضمام
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@Model.JoinRequestCount</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     عدد المقبولين
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@Model.AcceptedSuppliersCount</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     عدد مرات استخدام القائمة
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        <span>@Model.UsingListCount</span>
                     </span>
                  </div>
               </div>
            </li>

            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     عدد مرات استخدام القائمة داخليا
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        <span>@Model.UsingListCountInternally</span>
                     </span>
                  </div>
               </div>
            </li>

            @*<li class="list-group-item">
               <div class="row">
                  الجهات المستفيدة من القائمة
                  <div class="col-8 etd-item-info"><span>قائمة</span></div>
               </div>
            </li>*@
         </ul>
      </div>
   </div>
</div>
 
