@{
   ViewData["Title"] = "الشروط والأحكام";
}

<style>
   p, li{
      text-align:justify
   }
</style>
   <div class="card">
      <div class="card-body">
         <h3 class="text-primary title mb-5">أحكام وشروط استخدام منصة "اعتماد"</h3>
         <p>
            تشكل وثيقة الأحكام والشروط هذه ("الأحكام والشروط ") عقداً ملزماً فيما بين وزارة المالية ("المالك") و"المستخدم" كما هو معرف أدناه.
         </p>

         <p>
            يعني دخول و/أو استخدام و/أو الاستفادة من أي خدمة و/أو ميزة و/أو محتوى و/أو منفعة توفرها المنصة (المعرفة أدناه) أو توفر من خلالها، قبولاً من جانب "المستخدم" بالالتزام بهذه الأحكام والشروط.
         </p>
         <div class="row">
            <div class="col-md-6 col-sm-12">
               <p>
                  <h4 class="title text-primary">1. التعريفات:</h4>
                  <span>ما لم يقتض السياق خلاف ذلك، يكون للعبارات المعرفة أدناه المعاني المبينة مقابل كل منها:</span>
               </p>
               <p>
                  <strong class="text-dark-green">القانون الواجب التطبيق: </strong>
                  القوانين والأنظمة النافذة في المملكة العربية السعودية وكافة المرجعيات الملزمة الصادرة عن السلطات المختصة في المملكة العربية السعودية، بما في ذلك ما يصدر عن "المالك" لمنصة اعتماد من قواعد بصفته جهة عامة صاحبة ولاية ضمن اختصاصها القانوني، بالإضافة إلى قرار مجلس الوزراء رقم(650)
                  بتاريخ 13/11/1440هـ.

               </p>
               <p>
                  <strong class="text-dark-green">الترتيب: </strong>
                  أي شكل من أشكال التعامل أو التعاقد أو التفاهم يستفيد بموجبه "المستخدم" من خدمات منصة اعتماد التي يوفرها "المالك" بنتيجة "الاستخدام" وذلك لغايات متعلقة بإدارة المنافسات والمشتريات الحكومية.
               </p>
               <p>
                  <strong class="text-dark-green">المالك:</strong>
                  وزارة المالية، وهي المالك لمنصة اعتماد.
               </p>
               <p>
                  <strong class="text-dark-green">اعتماد: </strong>
                  تعني الخدمات التي تقدمها وزارة المالية لمختلف الجهات الحكومية والقطاع الخاص تمكينًا لأتمتة الإجراءات ورفع الشفافية والكفاءة. وتتضمن خدمات إدارة المنافسات والمشتريات.
               </p>
               <p>
                  <strong class="text-dark-green">منصة اعتماد: </strong>
                  يعني موقع منصة اعتماد المتاح من خلال الرابط التالي: <a href="https://www.etimad.sa/" target="_blank" rel="noopener noreferrer">www.etimad.sa</a> وكافة المواقع/ الصفحات التي يمكن الدخول إليها من خلال المنصة المذكورة، ويشمل المصطلح أيضاً التطبيقات الحاسوبية وتطبيقات الهاتف الذكي (على منصات أندرويد أو IOs، وغيرها) المتصلة بذلك، وكافة خدمات ومزايا منصة اعتماد التي توفرها وكافة حقوق الملكية الفكرية المقررة عن ما ذكر، وحيثما يدل النص على ذلك، يستخدم المصطلح للإشارة إلى المالك.
               </p>

               <p><strong class="text-dark-green">الخدمات: </strong>تعني جميع الخدمات المتاحة عبر المنصة والمتعلقة بإدارة المنافسات والمشتريات الحكومية.</p>
               <p><strong class="text-dark-green">المقابل المالي: </strong>يعني المقابل المالي الذي تتقاضاه وزارة المالية مقابل خدمات منصة اعتماد وفق ما قررته الفقرة (4) من المادة (السابعة عشرة) من نظام المنافسات والمشتريات الحكومية الصادر بموجب المرسوم الملكي رقم (م/128) بتاريخ 13/11/1440هـ. والموضحة تفاصيله المالية ضمن الموقع الرسمي لمنصة اعتماد.</p>
               <p><strong class="text-dark-green">الجهة المسؤولة: </strong>تعني الجهات الحكومية من وزارات و أجهزة حكومية وهيئات والمصالح والمؤسسات العامة والأجهزة ذات الشخصية المعنوية العامة المستقلة التي تقوم بطرح المناقصة عبر منصة اعتماد.</p>
               <p><strong class="text-dark-green">المحتوى: </strong>أي معلومات أو بيانات أو مواد يتيحها المستخدم على المنصة أو من خلاله (بما في ذلك على سبيل المثال لا الحصر البيانات والتصريحات والمراجعات والتعليقات والبيانات من أي نوع أو صورة، والإشارات والصور والنماذج) وبما يشمل المعلومات المتقدم بها من قبل "المستخدم" لغايات إجراء التحقق من قبل المالك أو تلك اللازمة لاستخدام منصة اعتماد.</p>
               <p><strong class="text-dark-green">الملكية الفكرية: </strong>ما يعود للمالك من حقوق مؤلف وبراءات اختراع وعلامات تجارية وأسماء تجارية وحقوق الشهرة التجارية والأسرار التجارية والمعلومات السرية وأي شكل آخر من أشكال الحقوق الفكرية في أي دولة بالعالم، بما في ذلك حقوق الملكية الفكرية المتصلة بـ"المنصة" وسائر ما يتفرع عنه أو يتصل به من برمجيات وتطبيقات حاسوبية وتطبيقات هاتف ذكي، وكذلك الحق في تسجيل ما تقدم من حقوق وحمايتها بالسبل القانونية.</p>
               <p><strong class="text-dark-green">السياسات: </strong>السياسات الصادرة عن المالك لغايات تنظيم أي جانب أو خدمة أو ميزة أو منفعة تقدمها المنصة، ويشمل التعريف كذلك أي تعديل أو إعادة صياغة أو استبدال لأي من السياسات المذكورة.</p>
               <p><strong class="text-dark-green">الاستخدام: </strong>الدخول إلى و/أو استخدام و/أو الولوج و/أو الاستفادة من أي خدمة و/أو ميزة تتيحها المنصة. وتفسر المشتقات اللغوية الأخرى لهذه الكلمة (كصيغة الفعل) تبعاً لهذا التعريف.</p>
               <p><strong class="text-dark-green">الاستخدام المعقول: </strong>الاستخدام الاعتيادي للمنصة الذي يتم للغايات المشروعة لـ"المستخدم" المتصلة بالخدمات و/أو التعامل مع المالك وإلى القدر اللازم لتحقيق هذه الغايات من حيث الشكل وحجم المعلومات وتكرار الاستخدام وتوقيته، وبحيث لا يتعارض مع استخدام أي مستخدم آخر. ويعتبر الاستخدام غير الاعتيادي لأي تطبيقات أو برمجيات أو وسائل يتيحها المالك أو المنصة أو استخدام ما ذكر لغير الغاية التي خصص من أجلها، أو تحميل محتوى كبير الحجم بلا داع على المنصة، أو إبطال حماية أي  برنامج أو تطبيق تستخدمه المنصة أو الإضرار فيه أو تعطيله، أو إرسال أو توزيع فيروسات أو برمجيات أو أكواد ضارة وما شابه ذلك، وكذلك مسح/ تخريب أي بيانات أو معلومات محتفظ بها في المنصة أو منشورة عليه، أو ربط أي حسابات أو إعلانات أو تعليقات على مواقع أخرى بهذه المنصة، أو نشر  ما ذكر على المنصة أو العكس صوراً للإخلال بموجب الاستخدام المعقول.</p>
               <p><strong class="text-dark-green">الدخول غير المشروع: </strong>دخول أي شخص غير مصرح له بالدخول إلى المنصة، والولوج إلى الأنظمة الداخلية للمنصة وما تحتوي عليه من بيانات ومعلومات سرية.</p>
               <p><strong class="text-dark-green">المستخدم:</strong> أي شخص مؤهل للاشتراك في المنصة والانتفاع من الخدمات المتاحة من خلالها.</p>
               <p><strong class="text-dark-green">بيانات المستخدم: </strong> أي معلومات أو بيانات تطلبها المنصة من المستخدم كالبيانات المتعلقة بالاسم الشخصي، الاسم التجاري، السجل التجاري، رقم البطاقة الشخصية، بيانات الاتصال، الهوية، نشاطات السجل التجاري المرخص بها ، بيانات "الترتيبات"، و أي بيانات أخرى تطلبها المنصة.</p>

               <p class="mt-5 mb-2">
                  <h4 class="title text-primary">
                     2. الأحكام المنظمة للاستعمال:
                  </h4>
               </p>
               <p>
                  <ol class="p-2">
                     <li>شريطة الالتزام الكامل بهذه الأحكام والشروط، والقيام بفتح حساب على المنصة، يمنح المالك إلى المستخدم ترخيصاً غير حصري وغير قابل للنقل ولا التنازل ولا الترخيص من الباطن، وقابل للإلغاء، يتيح الدخول إلى المنصة وإجراء الاستخدام المعقول.</li>
                     <li>	يحظر على المستخدم القيام بأي استعمال لا يعد استخداماً معقولاً.</li>
                     <li>‌	بعد قيام المستخدم بالتسجيل في المنصة ودفع رسم الاشتراك السنوي، عليه استخدام اسم المستخدم وكلمة السر الخاصة به كلما أراد استخدام المنصة والدخول إليها.</li>
                     <li>‌	يحظر على المستخدم أن ينسخ أو يحوِّر أو يعدل المنصة، أو يحاول الحصول على الكود المصدري الذي تعمل المنصة من خلاله (أو الذي يخص أي برامج أو كودات مرتبطة بالمنصة)، أو أن يتوصل إلى أي مما ذكر بالتركيب أو التحليل أو الهندسة العكسية، كما ويحظر عليه استخلاص أعمال مشتقة من أي مما ذكر أو توفير إمكانية الدخول إلى المنصة من مواقع أخرى أو توفير إمكانية الدخول إلى مواقع أخرى من خلال المنصة دون الحصول على الموافقة الصريحة والخطية من المالك.</li>
                     <li>‌يحدد المالك المقابل المالي المقرر لكل خدمة و آلية الدفع  على أن يعلن عن ذلك في المنصة مرفقاً بها قائمة الرسوم المقررة نظير كل خدمة (والتي يحق للمالك تعديلها من حين لآخر بإعلان جديد يُنشر عبر المنصة).</li>
                     <li>يحظر على المستخدم الإخلال بأي حقوق تعود للغير في أي دولة في العالم، كما ويضمن أن المحتوى والاستخدام لا يخلان بأي حقوق للغير في أي مكان في العالم، على سبيل المثال لا الحصر حقوق التمثيل التجاري الحصري، التراخيص الحصرية، حقوق الملكية الفكرية العائدة للغير.</li>
                     <li>	للمالك الحق - بإرادته المنفردة - في إيقاف جميع صور استخدام المنصة بخصوص مستخدم أو حساب ما بشكل كامل أو جزئي في حال إخلال المستخدم بشروط و أحكام هذه الوثيقة، وذلك إلى أن يتم الوفاء بالشروط التي يحددها المالك لإعادة تفعيل الاستخدام أو الحساب من قبل المستخدم ذي الصلة بذلك.</li>
                     <li>‌يدرك المستخدم أنه مسؤول عن دقة وصحة وقانونية وسلامة "المحتوى" الذي يتقدم به، وأن مراعاة ما ذكر هو أمر لازم لغاية  الحصول على الخدمات والمنافع والمزايا التي تتيحها "المنصة".  وبالعموم، لا يكون المالك بأي حال من الأحوال مسؤولاً عن عدم حصول المستخدم على خدمة المنصة المستهدفة بسبب يعود لخطأ من جانب المستخدم في الوفاء بالمتطلبات المنصوص عليها في هذه الأحكام والشروط أو أي من السياسات، كما ويدرك المستخدم كافة التبعات القانونية التي تترتب على التزويد بالمعلومات والمواصفات الخاطئة أو غير الصحيحة أو غير الدقيقة أو غير المحدثة أو غير المشروعة أو غير المكتملة أثناء إجرائه لأي استخدام.</li>
                     <li>‌يحتفظ المالك بكامل الحق في وقف الاستخدام أو إغلاق المنصة أو منع الدخول إليه في أي وقت دون أن يترتب عليه أي مسؤولية من أي نوع، ودون الحاجة لإبداء الأسباب.</li>
                     <li>كون المبالغ الواردة في المنصة والتي يقررها المالك من حين لآخر بالريال السعودي (ما لم يصرح بخلاف ذلك).</li>
                  </ol>
               </p>
               <p class="mt-5 mb-2">
                  <h4 class="title text-primary">
                     3. الأحكام المتصلة بالخدمات التي تقدم من خلال المنصة:
                  </h4>
               </p>
               <p><strong class="text-dark-green">1.	المقابل المالي للخدمات:</strong>
               <p>
                  عند رغبة المستخدم في استخدام الخدمات المتاحة عبر المنصة، فإنه يتوجب عليه دفع المقابل المالي المحدد عن كل خدمة يرغب في الاستفادة منها
               </p>
               <p><strong class="text-dark-green">2.	الإلغاء والاسترداد:</strong>
               <p>
                  <ol>
                     <li>	إن مجرد قيام المستخدم بدفع المقابل المالي عن الخدمة المراد استخدامها، لا يسمح له بعد ذلك إلغاء أو استرداد المقابل المالي المدفوع تحت أي ظرف ولا يحق له الادعاء بعدم الاستفادة من الخدمة و/ أو عدم ملاءمتها له.</li>
                     <li>‌	في حال إلغاء المنافسة العامة أو الشراء المباشر من قبل الجهة المسؤولة يتم إعادة المقابل المالي المدفوع إلى المستخدم.</li>
                  </ol>
               </p>
            </div>
            <div class="col-md-6 col-sm-12">

       
               <p class="mb-2">
                  <h4 class="title text-primary">
                     4.  تصريحات والتزامات وضمانات المستخدم:
                  </h4>
               </p>
               <p>
                  <ol class="p-2">
                     <li>
                        ‌يصرح المستخدم ويقر بأنه يتمتع بالأهلية الكاملة التي تؤهله لاستخدام الخدمات المتاحة من خلال المنصة والدخول في "ترتيبات" سارية مع المالك (بناءً على الشروط والأحكام التي يتم نشرها على المنصة أو بوضع روابط تحيل إليها من خلال المنصة)، ويتعهد بتنفيذ التزاماته بموجب "الترتيبات" التي يبرمها بالكامل. ويصرح المستخدم بعلمه بأن المالك ليس طرفاً في أي "ترتيبات" ولا ضامناً للوفاء لأي من طرفيها بأي التزام يترتب عليه بموجبها.
                     </li>
                     <li>
                        يتعهد المستخدم بما يلي:
                        <br />
                        <ul>
                           <li>أن يضمن أن "بيانات المستخدم" التي يقدمها صحيحة ونافذة.</li>
                           <li>أن يقدم كل ما يطلبه المالك من معلومات وتعاون.</li>
                           <li>حصر "الاستخدام" به شخصياً وللغايات المتعلقة باستخدام المنصة. </li>
                           <li>	حماية كلمة/كلمات المرور وأي بيانات دخول أخرى وضمان حماية حساب المستخدم و/أو المنصة في كافة الأوقات من الدخول غير المشروع أو إساءة الاستعمال أو الضرر من قبل أي شخص يستخدم كلمة/كلمات المرور أو معلومات المرور العائدة للمستخدم.</li>
                           <li>	الاتصال بالمالك فور العلم بالاستخدام غير القانوني لكلمة/كلمات المرور أو بيانات الدخول أو استعمالها بشكل غير مشروع.</li>
                           <li>	الالتزام بكافة السياسات ، بما فيها هذه أحكام وشروط وأي توجيهات أو قيود تصدر عن المالك بشأن الاستخدام.</li>
                           <li>عدم القيام بأي استخدام غير قانوني أو غير نظامي، أو مسيئ للغير أو مضر به أو السعي للقيام بأي مما ذكر</li>
                           <li>	التقيد بأحكام كافة القوانين والأنظمة والتعليمات المتعلقة بمنصة اعتماد والتي تنطبق على الاستخدام، ويصرح المستخدم بإمكانية الاحتجاج ب كافة القوانين والأنظمة والتعليمات -بما فيها هذه الأحكام والشروط- ضده مباشرة سواء من قبل المالك أو أي مستخدم آخر أو الغير ذي المصلحة.</li>
                           <li>	الامتناع عن إنشاء حسابات وهمية أو استخدام أسماء مستعارة والالتزام دوماً بالاسم الصريح أو الاسم التجاري الصحيح.</li>
                        </ul>
                     </li>
                  </ol>
               </p>
               <p class="mt-5 mb-2">
                  <h4 class="title text-primary">
                     5. حقوق المالك وضماناته وتحديد المسؤولية:
                  </h4>
               </p>
               <p>
                  <ol class="p-2">
                     <li>لا يقدم المالك أي شكل من أشكال الضمان أو الكفالة -سواء الصريحة أو الضمنية- في كل ما يتصل باستخدام المنصة أو التعامل مع المستخدم و/أو الجهة المسؤولة، ويقبل المستخدم بذلك.</li>
                     <li>	تبرم العقود التي تمثل "الترتيبات" بين المستخدم و المالك، ويكون لها صفة الإلزامية فيما بينهما. لا يكون المالك بأي شكل طرفاً في أي "ترتيب" ولا يمثل أي بيان وارد على المنصة استشارة أو رأي (سواء قانوني أو استثماري أو خلاف ذلك) أو توصية أو تحفيزاً على الدخول بأي "ترتيب" أو القيام بأي معاملة قانونية، ويكون على المستخدم إجراء ما يراه لازماً من أعمال التحري اللازمة للتأكد من توافق الخدمة المقدمة مع احتياج المستخدم، وغير ذلك من الاعتبارات العملية والفنية التي تخص المستخدم.</li>
                     <li>‌	لا يبدي المالك ولا يقدم أي تصريح أو ضمانة أو كفالة أو توصية لأي (أو عن أي) مستخدم و/أو يخص أي ترتيب أياً كان، كما ولا يعتبر المالك شريكا أو كفيلا للجهة المسؤولة ولا يكون مسؤولا بأي شكل قانوني تجاه المستخدم عن أي عمل أو امتناع عن عمل أو معاملة فيما بين الطرفين بمقتضى أي "ترتيب" قائم بينهما.</li>
                     <li>‌	يكون للمالك الحق في تعديل و/أو استبدال هذه الشروط والأحكام من وقت لآخر وتكون التعديلات والاستبدالات نافذة اعتباراً من تاريخ نشرها على المنصة.</li>
                     <li>‌	يكون للمالك حق ملكية كافة البيانات والمعلومات الشخصية المتعلقة بالمستخدم -وبشكل عام أي معلومات أو بيانات تقدم على المنصة- عند إنشاء الحساب، على أن يراعي المالك عند استخدامها سريتها وخصوصيتها.</li>
                     <li>
                        ‌للمالك بقراره المنفرد أن يقوم بـ :
                        <ul>
                           <li>
                              تعديل أي جزء من المنصة أو الخدمات المقدمة من خلاله في أي وقت.
                           </li>
                           <li>	نشر إعلانات / تعاميم بالنسبة للتعديلات التي يراها المالك مناسبة.</li>
                           <li>	حذف أي محتوى و/أو وقف أي حساب دون الحاجة إلى بيان الأسباب.</li>
                           <li>	تعديل هذه الأحكام والشروط من حين لآخر.</li>
                        </ul>
                     </li>
                  </ol>
               </p>

               <p class="mt-5 mb-2">
                  <h4 class="title text-primary">
                     6. الضمانات
                  </h4>
               </p>
               <p>
                  <ol class="p-2">
                     <li>	يضمن المستخدم ما يتعرض له المالك نتيجة "الاستخدام" أو إخلال المستخدم بهذه الأحكام والشروط أو إهماله، من مسؤولية تنتج عن أي إجراءات أو مطالبات أو دعاوي بما في ذلك التكاليف والرسوم القضائية وأتعاب المحاماة والتعويضات والمبالغ المدفوعة على سبيل التسوية لأي مما ذكر.</li>
                     <li>	دون الإخلال بعمومية البند (رقم 1)، يضمن ويتعهد "المستخدم" للمالك بأن يتحمل كامل المسؤولية المترتبة عن جميع التصرفات وحالات الإخلال التي تجري أو تتم من خلال حسابه و/أو يقوم بها أي من تابعيه، وذلك على أساس شخصي (مباشر) وتضامني.</li>
                  </ol>
               </p>
               <p class="mt-5 mb-2">
                  <h4 class="title text-primary">
                     7. الإشعارات
                  </h4>
               </p>
               <p>
                  <ol class="p-2">
                     <li>‌	يعتمد المالك عنوان البريد الإلكتروني الذي قدمه المستخدم لدى إنشاء الحساب على المنصة و/أو خاصية التراسل التي تتيحها المنصة لغايات ارسال أي إشعار أو أي مخاطبة تتصل بهذه الأحكام والشروط من المالك إلى المستخدم وأي تعديلات تطرأ عليها من وقت لآخر ، ويعتبر المستخدم مستلماً للإشعار أو المخاطبة بمجرد إرساله على عنوان البريد الإلكتروني المذكور أو عبر خاصية التراسل المذكورة.</li>
                     <li>‌	تكون المراسلات التي توجه إلى المالك نافذة ما لم ترسل إلى عنوان البريد الإلكتروني التالي: <a href="mailTo:ecare@etimad.sa">ecare@etimad.sa</a> وشريطة استلام المرسل رسالة تأكيد الوصول.</li>
                     <li>يدرك المستخدم أن للمالك من وقت للآخر أن يرسل رسائل لغايات تسويق وترويج بضائع وخدمات المالك أو شركاء المالك أو الغير.</li>
                  </ol>
               </p>
               <p class="mt-5 mb-2">
                  <h4 class="title text-primary">
                     8. القانون الواجب التطبيق والاختصاص القضائي:
                  </h4>
               </p>
               <p>
                  تخضع هذه الأحكام والشروط إلى أنظمة ولوائح المملكة العربية السعودية السارية، ويقر المستخدم بالاختصاص القضائي الحصري للمحاكم الواقعة في مدينة الرياض في المملكة العربية السعودية بالنظر في أي نزاع ينشأ عن هذه الشروط والأحكام أو بسبب تطبيقها.
               </p>

               <p class="mt-5 mb-2">
                  <h4 class="title text-primary">
                     9. أحكام عامة:
                  </h4>
               </p>
               <p>
                  <ol class="p-2">
                     <li>	تشكل هذه الأحكام والشروط -كما يتم تعديلها من حين لآخر- و"السياسات" كامل العقد المتكون بين "المالك" و"المستخدم" فيما يتعلق بـ "استخدم" "المنصة" وتلقي الخدمات والمنافع المتاحة من خلالها.</li>
                     <li>	يقر المستخدم بإطلاعه على كافة الوثائق والشروط الأخرى المتعلقة بمنصة اعتماد وموافقته على ما جاء بها.</li>

                  </ol>
               </p>
            </div>
         </div>
       
      </div>

   </div>

