<div class="row text-center" align="center">
   <div class="card" align="center">
      <div class="card-body text-center" align="center">
         <i class="text-primary material-icons" style="font-size:3rem">report</i> 
         <br />
         @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData
      </div>
   </div>
</div>
