@using MOF.Etimad.Monafasat.SharedKernel;
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">

      @*<li secure-roles="@RoleNames.ViewUsers , @RoleNames.SuperAdministrator"><a href="@Url.Action("Index","Users")"> إدارة المستخدمين</a></li>*@


      <li><a asp-action="Index" asp-controller="Home">Home</a></li>
      @*<li><a href="@Url.Action("Index","Log")">سجل النظام</a></li>*@

    

   </ul>
</div>
