@model MOF.Etimad.Monafasat.ViewModel.QuantitiesTablesForAwardingModel
<div id="tableContainer" class="card-body p-2">
   <div class="col-12">
      <div class="card-collapse" style="border:1px solid #ccc;border-radius:6px;overflow:hidden;">
         @Html.Partial("~/Views/Offer/Awarding/Partials/_QuantitiesTablesForAwarding.cshtml", Model)
      </div>
   </div>
</div>
