@using res = MOF.Etimad.Monafasat.Resources
@model MOF.Etimad.Monafasat.ViewModel.OfferModel
@{
   ViewData["Title"] = @res.TenderResources.DisplayInputs.Awarding;
   Layout = "~/Views/Shared/_Layout-ETD.cshtml";
}
@await Component.InvokeAsync("OfferFinancialDetails", new { offerId = Model.OfferId })

<div>
   @Html.ActionLink(@res.SharedResources.DisplayInputs.BackButton, "TenderAwarding", "Tender", new { tenderIdString = MOF.Etimad.Monafasat.SharedKernal.Util.Encrypt(Model.TenderId) }, new { @class = "btn btn-outline-primary btn-link pull-right" });
   <div class="clearfix"></div>

</div>
